body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

main {
   max-width: 900px;
    margin: auto;
    background-color: rgba(240, 238, 238, 0.993);
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
    padding: 1rem;
}

h1 {
    text-transform: uppercase;
}

#landing {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

   }
   

img {
    display: inline-block;
    padding: 1rem;

}
a {
    color: grey;
}
a:hover {
    color: darkslategrey;
}

ol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}